<h1>New Post</h1>

<form action="/posts" method="post">
  <%# add form fields %>
    <p>
    <label for="Author">Author</label>
    <input type="text" name="Author" id="Author">
    <label for="Body">Body</label>
    <input type="text" name="Body" id="Body">
     <label for="Image">Image</label>
    <input type="text" name="Image" id="Image">
  </p>
  <button>Submit</button>
</form>
